*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* =================== VARIABLES ================  */
:root{
  --primaryColor:rgb(244, 197, 5);
  --backgroundColor:rgb(40, 40, 43); 
}




body {
    font-family: 'Poppins';font-size: 22px;
    background-color: var(--backgroundColor)
}

.section{
  position: relative;
  height: 100vh;
}


/* =========== TOOLBAR ============*/

.toolbar, .footer{
    width: 100%;
    min-height: 100px;
    background-color: var(--primaryColor);
    position: sticky;
}

.toolbar{
  display: flex;
  align-items: center;
}

.title{
  margin-left: 20px;
}

/*============== CONTENT ================*/


.webcam-section{
  margin: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*=========SECTION TITLES================*/

.section-title{
  color: var(--backgroundColor);
}

  
}

  /* ==IFRAMES== */

  .iframe-container{
    padding-bottom: 56.25%; 
    position:relative; 
    display:block; 
    width: 100%;
  }

  iframe{
    background-color: var(--backgroundColor);
    height: 100%;
    width: 100%;
  }

  /* ========== BUTTONS ==============*/

  .button{
    text-decoration: none;
    background-color: var(--primaryColor) ;
    padding: .5rem 1.2rem;
    color: black;
    text-transform:uppercase;
    border-radius: .5rem;
  }

  .button:hover{
    
    background-color: var(--primaryColor);
    
  }


  /*==================>GOOGLE MAP==========*/

  /* Set the size of the div element that contains the map */
#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

.cover-iframe{
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 100px;
  background-color: var(--backgroundColor);
}


/*======= TESTS ========*/

.bubble{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: rgb(244, 197, 5);
  z-index: 2;
  left: 50px;
  top: 500px;  
}

.bubble {
  border-radius: 250px 750px 250px 750px /
                 750px 250px 750px 250px;
  animation: wobble 10s ease-in-out alternate infinite;
}

@keyframes wobble {
  50% {
    border-radius: 750px 550px 350px 750px /
                   350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px /
                   250px 750px 250px 750px;
  }
}

