@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{
        font-family: 'Poppins';

}

.container{
      margin: 0 auto;
}

.cover{
        display: flex;
        flex-direction: column;
        background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,.6)) ,url('./images/Trambileno_-_Santuario_Madonna_de_la_Salette.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        justify-content: center;
        text-align: center;
        background-position: 0 4%;
        border-bottom: 7px yellow solid;
}



.hero-title{
        position: sticky;
        top: 0;
        width: 100%;
        font-size: 50px;
        margin: 20px 0;
        color: white;
        background-color: rgba(0,0,0,.4);
        text-align: center;
        z-index: 1;
}

.data-links{
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-around;
}


.data-links a{
        display: inline-block;;
        width: fit-content;
        text-decoration: none;
        background-color: yellow;
        padding: .3em .6em;
        color: black;
        border-radius: .3em;    
}

.data-links a:hover{
        animation: stretch 1s infinite;

}

.infos{
        margin-top: 20px;
}

.left, .right{
        display: flex;
        height: 50vh;
        width: 100%;
}

.right{
        justify-content: end;
}

.section{
        height: 50vh;
        width: 50%;
}


.left .section{
        border-radius: 0 50px 50px 0;
        background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,.6)) ,url('./images/forte-pozzacchio.jpg');
        background-size:cover;
        background-repeat: no-repeat;
}


.right .section{
        border-radius: 50px 0 0 50px;
        background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,.6)) ,url('./images/eremo-san-colombano.jpg');
        background-size:cover;
        background-repeat: no-repeat;
}





.content{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
}


.vanza-data{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
}

.data{
        margin: 20px 0;
        transition: 1s;
}

.data:hover{
        transform: scale(1.03);
}



.footer{
        display: flex;
        border-top: 7px yellow solid;
        background-color: black;
        height: 80px;
        color: white;
        align-items: center;
        justify-content: center;
}


@keyframes stretch {
        25%{
                transform: scale(1.05);
        }
        50%{
                transform: scale(1.05);
        }
        100%{
                transform: scale(1);
        }
}


@media (max-width: 768px){
        body{
              background-color: aqua; 
        }
        .data-links{
                flex-direction: column;
                gap: 30px;
        }

}